<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>locchange.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>40D7EA829371D08CADBF7AB6594ED924104F5FAB</string>
				<key>dateExpires</key>
				<string>2024/04/13</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FXUH7DKLCF.com.parkm.locchange</string>
				<key>com.apple.developer.team-identifier</key>
				<string>FXUH7DKLCF</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>locchange.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a7cdb5ae-ac1e-491c-b381-f4e6fa9dc5b6</string>
				<key>dateExpires</key>
				<string>2024/04/13</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.parkm.locchange</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FXUH7DKLCF</string>
				<key>name</key>
				<string>Kyung Min Park</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2</string>
		</dict>
	</array>
</dict>
</plist>
